# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8d3194a87736173618b2ee47bfce11584a28a0b0c47c38b1cfa4d7cb1e442da6623b1096fa069db6d7c9a76be29a8ff6ff1c8acb5e1649557c177beaa2bb8405

test:
  secret_key_base: 5869cf35b8198d816c80646a84786eef220926b7306d14686685c2af968ce007015176838216bbd3135e2fa72cdc338a884e516f194ff954f124e4da09881c1d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
